body {
    font-family: 'Fresca', sans-serif;
    box-sizing: border-box;
    background-color: #F0F0DF;
}

div,
p,
a,
h1 {
    margin: 0;
    padding: 0;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.header-logo {
    width: 100%;
    height: 200px;
    background-color: #AB13D1;
    text-align: center;
    line-height: 200px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.title {
    font-size: 150px;
    color: #F0F0DF;
    text-transform: uppercase;
}

.tap_box {
    text-align: center;
    margin-bottom: 50px;
}

.tap_record {
    font-size: 50px;
    text-transform: uppercase;
    color: #AB13D1;
    margin-top: 50px;
}

.tap_number {
    font-size: 200px;
    text-transform: uppercase;
    color: #AB13D1;
    padding: 0;
    margin: 0;
}

.tap_btn {
    max-width: 600px;
    width: 100%;
    height: 130px;
    background-color: #737EE1;
    border-radius: 100px;
}

.tap_btn-text {
    font-family: 'Fresca', sans-serif;
    font-size: 100px;
    color: #F0F0DF;
    text-transform: uppercase;


}


.footer-link {
    width: 100%;
    height: 50px;
    background-color: #AB13D1;
    padding: 20px;
    
}

.link {
    text-align: center;
    /* padding: 10px; */
}

.link > a {
    font-size: 30px;
    color: #F0F0DF;
    text-decoration: none;
}
